@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto {
  font-family: var(--font-roboto);
} 


/* for the floating animation in the main page */
@keyframes floatingAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-section {
  animation: floatingAnimation 4s ease-in-out infinite;
}

/* Add different animation delays for more natural effect */
.float-section:nth-child(2) {
  animation-delay: 0.5s;
}

.float-section:nth-child(3) {
  animation-delay: 1s;
}

.float-section:nth-child(4) {
  animation-delay: 1.5s;
}



/* for the text blinking cursor animation  */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}